# USHSS Portal — Environment (.env)
# Supabase SQL version

# App
SECRET_KEY=sb_secret_jGu6G4sq5MHtX9b73jFrcw_rMwvh70g
DEBUG=True
CORS_ORIGINS=*
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Supabase
SUPABASE_URL=https://jskzssdwgzxvpzfurxos.supabase.co
NEXT_PUBLIC_SUPABASE_URL=https://jskzssdwgzxvpzfurxos.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_aeasaeZVMlBjyGapl1WApA_iC8OQIPk
SUPABASE_DB_PASSWORD=@Admin49841234
